<h1>Editing exp transaction</h1>

<%= render "form", exp_transaction: @exp_transaction %>

<br>

<div>
  <%= link_to "Show this exp transaction", @exp_transaction %> |
  <%= link_to "Back to exp transactions", exp_transactions_path %>
</div>
